.header {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.nav-list a {
  font-size: 1.125rem;
  line-height: 1.3;
  padding: 10px 20px;
  text-decoration: none;
  color: #141414;
  display: block;
  transition: 0.3s;
}

.hamburger {
  display: none;
  border: none;
  background: none;
  border-top: 3px solid #000;
  cursor: pointer;
}

.hamburger::before,
.hamburger::after {
  content: ' ';
  display: block;
  width: 30px;
  height: 3px;
  background: #000;
  margin-top: 5px;
}

.logo {
  font-size: 2rem;
}

@media (max-width: 1000px) {
  .nav-list a {
    padding: 10px;
  }
  nav {
    display: none;
  }
}

@media (max-width: 800px) {
  .hamburger {
    display: block;
  }
}

@media (max-width: 600px) {
  .logo {
    font-size: 1.5rem;
  }
}
