:root {
  --modo-claro-bg: #fff;
  --modo-claro-text: #000;
  --modo-dark-bg: #141414;
  --modo-dark-text: #f5f5f5;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.fa-moon {
  color: #f1c40f;
  transition: 0.3s;
}

.fas {
  padding: 10px;
}

.fas .fas-moon {
  display: none;
}

.fa-sun {
  color: #f39c12;
}
.modo-dark .hamburger {
  border-top: 3px solid #fff;
}

.modo-dark .hamburger::after,
.modo-dark .hamburger::before {
  background: #fff;
}

.modo-dark {
  background-color: #141414;
  transition: 0.1s;
  color: #f5f5f5;
}

.modo-dark .experiencia h2 {
  color: #f5f5f5;
}

.modo-dark .experiencia-texto strong {
  color: #f5f5f5;
}

.modo-dark .experiencia-texto {
  color: #a3a3a3;
}

.modo-dark .empresa {
  background-color: #202020;
  transition: background-color 0.3s;
}

.modo-dark .empresa-habilidades li {
  background-color: #282828;
  transition: background-color 0.3s;
}

.modo-dark .empresa p {
  color: #a3a3a3;
}

.modo-dark .empresa:hover {
  background-color: #000000;
}

.modo-dark .header-menu a {
  color: #f5f5f5;
  transition: 0.3s;
}

.modo-dark .header a {
  color: #fff;
  border-radius: 5px;
}

.modo-dark .btn-color-2 {
  background-color: #fff;
}

.modo-dark .btn {
  border: none;
  transition: 0.3s;
}

.modo-dark .color-p {
  color: #aeaeae;
}
